# Colocate Myria and SciDB installations on same EC2 Cluster

# Depends on Myria plugin: https://github.com/uwescience/myria-ec2
# and SciDB plugin:        https://github.com/BrandonHaynes/scidb-starcluster


[cluster hybridbenchmarkcluster]
KEYNAME = bhaynesKey
CLUSTER_SIZE = 2
NODE_INSTANCE_TYPE = m1.large
SPOT_BID = 0.035

PLUGINS = postgresplugin, myriaplugin, scidbplugin
CLUSTER_USER = myriaadmin
DNS_PREFIX = True
NODE_IMAGE_ID = ami-765b3e1f
PERMISSIONS = rest, shim, http, demo_http
DISABLE_QUEUE = True

[plugin postgresplugin]
SETUP_CLASS = postgresplugin.PostgresInstaller
PORT = 5432

[plugin myriaplugin]
SETUP_CLASS = myriaplugin.MyriaInstaller
MYRIA_COMMIT = cfa902dc23795c680cea501912cdba01965926bf
POSTGRES_PORT = 5432

[plugin scidbplugin]
setup_class = scidbplugin.SciDBInstaller
branch = scidb14.12

[permission rest]
IP_PROTOCOL = tcp
FROM_PORT = 8753
TO_PORT = 8753

[permission shim]
IP_PROTOCOL = tcp
FROM_PORT = 8080
TO_PORT = 8080

[permission http]
IP_PROTOCOL = tcp
FROM_PORT = 80
TO_PORT = 80

[permission demo_http]
IP_PROTOCOL = tcp
FROM_PORT = 8888
TO_PORT = 8888
