.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: solid rgb(51, 51, 51) 1px !important;
}

div.details-modal {
	width: 1200px;
}

div.details-modal div.diagram {
	text-align: center;
}

img.myria-diagram {
	width: 375px;
}

img.scidb-diagram {
	margin-top: 50px;
	width: 500px;
}

img.execution {
	width: 480px;
	margin-top: 40px;
}

.details {
	font-size: 50%;
	position: relative;
	top: -4px
}

.code-container {
	height: 600px;
	overflow: auto;
	border: 1px solid #888;
	border-right: 2px solid #888;
}

#hybridtext-details .code-container.original,
#hybridbinary-details .code-container.original {
	height: 660px !important;
}

#hybridtext-details .code-container:first-child,
#hybridbinary-details .code-container:first-child {
	height: 250px;
}
#hybridtext-details .code-container,
#hybridbinary-details .code-container {
	height: 200px;
}

div.transfer-arrow {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

img.transfer-arrow {
	height: 100px;
}

.code-container pre {
	width: 1450px;
	border: none;
}

#patients th, #patients td, #results td, #results th {
	text-align: center;
}

#patients tbody tr {
	cursor: pointer;
}

.bullet .title {
	font-size: 11pt;
	transform: translate(0, 5px);
}

.subtitle {
	display: none;
}

#patient-container {
	height: 183px;
	overflow-y: auto;
}

#similar-patients, #performance {
	display: none;
}

#similar-patients h2, #performance h2 {
	margin-top: 0;
}

.patient-selection ul li {
	font-size: 140%;
	cursor: pointer;
	margin-left: 2em;
}

.patient-selection ul li .icon {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	top: 3px;
	border-radius: 16px;
}

.patient-selection ul li#execute-myria .icon,
.patient-selection ul li#execute-hybrid-csv .icon-right,
.patient-selection ul li#execute-hybrid-binary .icon-right {
	background-color: rgb(106, 61, 154);
}

.patient-selection ul li#execute-scidb .icon,
.patient-selection ul li#execute-hybrid-csv .icon-left,
.patient-selection ul li#execute-hybrid-binary .icon-left {
	background-color: rgb(31, 120, 180);
}

.patient-selection ul li .icon-right {
	width: 10px;
	border-radius: 0 16px 16px 0;
}

.patient-selection ul li .icon-left {
	width: 10px;
	border-radius: 16px 0 0 16px;
}

#execute_myria {

}